* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


@keyframes animacion{
    0%{
        transform: scale(0.7);
        filter: blur(2);
    }

    50%{
        filter: blur(2);
    }

    75%{
        filter: blur(2);
    }
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 75vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    animation-name: animacion;
    animation-duration: 1.5s;
}

section {
    min-width: 25vw;
    max-height: 68vh;
    border: 1px solid #a5a4a4a2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 2rem 0;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
}

.div_logos:hover,
.div_botones:hover {
    transform: scale(0.9);
    filter: blur(1);
}

.logos:hover {
    background-color: #fa790f;
    border: none;
    transform: scale(1.4);
    filter: blur(1);
}

.primer_p::after,
.primer_p::before {
    content: '';
    position: absolute;
    width: 6vw;
    height: 1px;
    background-color: #a5a4a4a2;
    top: 1.3vh;
    z-index: -1;
}

.primer_p::before {
    right: 8.5vw;
}

.primer_p::after {
    left: 8.5vw;
}

.boton_email:hover,
.boton_number:hover,
.boton_sing:hover {
    transform: scale(1.2);
    background-color: #a5a4a4a2;
    color: #fa790f;
}

.register:hover {
    transform: scale(1.1);
}

.titulo_formulario {
    color: rgba(0, 0, 0, 0.692);
    margin-top: 1rem;
}

.fuente {
    font-family: 'Montserrat', sans-serif;
    border: none;
}


.imagenRegalo {
    width: 30vw;
    height: 80vh;
    border-radius: 10px;
}

.div_logos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem;
}

.div_logos,
.div_botones,
.boton_sing,
.register {
    transition: all 1.3s;
}

.logos {
    border: 1px solid #a5a4a4a2;
    border-radius: 6px;
    width: 2vw;
    height: 5vh;
    padding: 0.5rem 1.3rem;
}

.logos,
.boton_email,
.boton_number {
    transition: all 1.5s;
}

.primer_p {
    color: #858282f3;
    font-size: smaller;
    display: inline-block;
    position: relative;
    margin-top: 0.5rem;
}

.div_botones {
    width: 75%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.boton_email {
    background-color: #fa790f;
    color: rgba(255, 255, 255, 0.829);
    padding: 0.7rem 1.5rem;
}

.boton_number,
.boton_email,
.boton_sing {
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

.boton_number {
    color: rgba(0, 0, 0, 0.692);
    padding: 0 0.5rem;
}

.email_form,
.password_form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.email_form {
    margin-bottom: 1rem;
}

.email_label,
.password_label {
    color: #858282f3;
    font-weight: 600;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.email_label {
    margin-top: 1rem;
}

.input_email,
.input_password {
    height: 5vh;
    border: 1px solid #858282f3;
    border-radius: 5px;
    color: #858282f3;
    padding-left: 0.5rem;
}

.segunda_p,
.tercer_p {
    color: #858282f3;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

.boton_sing {
    background-color: #fa790f;
    color: rgba(255, 255, 255, 0.829);
    padding: 1rem 4.5rem;
    border-radius: 10px;
    margin-top: 1.5rem;
}

.register {
    font-size: 0.8rem;
    margin: 0.5rem 0;
    color: #fa790f;
    border-bottom: 1px solid #fa790f;
}
